@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Fredoka', sans-serif;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'Fredoka', sans-serif;
}

* {
  font-family: 'Fredoka', sans-serif;
}